{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite,?scssphp'
        "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
        "http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext"
        "http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500,700&subset=latin,cyrillic"
        "bundles/app/css/style.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
    
{% block javascripts %}
        {% javascripts filter="?jsqueeze" output="js/minified/layout.js"
            'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'
            'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'
            'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' 
            '@AppBundle/Resources/public/js/main.js'
            '@AppBundle/Resources/public/js/scrolltop.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% block content_js %}{% endblock %}
{% endblock %}
    
{% block title %}Агентство №1{% endblock %}

{% block body %}
    <div id="baseblock" class="{% block class_page %}{% endblock %}">        
        {% block header %}
            {% include 'AppBundle:Includes:header.html.twig' %}
        {% endblock %}
        {% block middle %}
            <div class="cd-main-content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% block footer %}
            {% include 'AppBundle:Includes:footer.html.twig' %}
        {% endblock %}
    </div>
    <div id='fixed'>
        <div id="up" class="updown" title="В начало страницы"><p>Наверх</p></div>
        <div id="down" class="updown" title="К предыдущему месту"><p>Обратно</p></div>
    </div>
{% endblock %}
