@import "../helpers/mixins";
@import "../helpers/variables";

.news_home {
    position: relative;
    width: 100%;
    padding: 2em 0 3em 0;
    background: $bg_news;

    .news_content {
        position: relative;
        width: 1110px;
        margin: 0 auto;
        text-align: center;

        @media only screen and (max-width: 1199px) {
            width: 940px;
        }
        @media only screen and (max-width: 991px) {
            width: 740px;
        }
        @media only screen and (max-width: 767px) {
            width: 90%;
        }
        
        h3 {
            font-size: 2.1em;
            padding-bottom: .5em;
            text-align: center;
        }
        .news_block {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 254px;
            padding: 10px;
            margin: 15px 10px;
            text-align: left;
            
            p {
                
                a {
                    color: $color_news;
                    text-decoration: underline;
                    
                    &:hover {
                        color: $color_news;
                        text-decoration: none;
                    }
                }
                &.data {
                    padding: 0;
                    font-size: .9em;
                    color: $color_news_data;
                }
            }
        }
        p.archive_news {
            text-align: center;
            padding: 0;
            
            a {
                /* color: $color_news;
                text-decoration: underline;
                
                span {
                    display: inline-block;
                    vertical-align: middle;
                    height: 16px;
                    width: 20px;
                    margin-right: 10px;
                    margin-bottom: 3px;
                    background: url(/bundles/app/images/template/archive-news.png) no-repeat 0 0px;
                }
                
                &:hover {
                    color: $color_news;
                    text-decoration: none;
                    
                    span {
                        background: url(/bundles/app/images/template/archive-news.png) no-repeat 0 -16px;
                    }
                } */
            }
        }
    }
}