<div class="about_home">
    <div class="about_home_content var_three"> <!-- В зависимости от варианта меняем класс var_three на var_one или var_two -->
        <div class="bg_about" style="background: url(/bundles/app/images/template/bg-about.jpg) no-repeat 100% 0;"><img src="/bundles/app/images/template/bg-about-three.jpg" alt="Коллектив компании" /></div>
        <div class="about_txt">
            <h3>О компании</h3>
    
            <p>Компания «Кано» основана 10 июля 2003 года (зарегистрировано 2 марта 2003г., свидетельство №4754, серия ОО-РП).</p>
            <p>Являемся членом Российской Гильдии Риэлторов (Свидетельство № 807),  действительным членом Южной Палаты Недвижимости (Свидетельство № 94Ю 004), а так же действительным членом Федеративного союза инвентаризаторов России (свидетельство</p>
            <p>№82). Генеральный директор Иван Петрович Сергеев. Компания «Кано» первая в городе застраховала свою профессиональную ответственность на 1 000 000 $ («Группа АльфаСтрахование» Договор № 80205/475/00001/0)  и одна из первых риэлторских компаний добровольно сертифицировала  свои услуги (Сертификат № РОСС RU РГР ОС 74.0007).</p>
            <p>В компании 16 отделов, включая отдел ипотечного кредитования, оформления, продажи услуг, землеустройства и технической инвентаризации, правовой экспертизы.</p> 
            <a href="{{ url('app_static_about') }}" class="btn more">Подробнее</a>
        </div>
    </div>
</div>