<div class="contact_social">
    <div class="contact_social_content">
        <div class="contact">
            <div class="adress">
                <span class="glyphicon glyphicon-map-marker"></span><span>Кемерово, пр. Советский, 5, офис 103</span>
            </div>
            <div class="phone">
                <span class="glyphicon glyphicon-earphone"></span><span><a href="tel:+73843745844">+7 (3843) 74-58-44</a>, <a href="tel:+79609445844">+7 (960) 944-58-44</a></span>
            </div>
        </div>

        {% include 'AppBundle:Includes:social.html.twig' %}
    </div>
</div>