<footer>
    <div class="footer_txt">
        <div class="copyright">
            <p>&COPY; 2010 &mdash; {{ "now"|date('Y') }} ООО «Кано»</p>
            <p>Все права защищены</p>
        </div>
            
        {% include 'AppBundle:Includes:social.html.twig' %}
        
        <div class="creator">
            <a href="http://sibestate.ru/" target="_blank" title="Жилая недвижимость в Кемерово" class="sibestate"></a>
            <a href="http://kem.brekom.ru/" target="_blank" title="Коммерческая недвижимость в Кемерово" class="brekom"></a>
            <a href="http://kww.su/" target="_blank" title="Разработка сайтов" class="kww"></a>
        </div>
    </div>
</footer>