<div class="header">
    {% block contact_social %}{% endblock %}
    
    <div class="logo_menu">
        <div class="logo_menu_content">
            {% block logo %}{% endblock %}
            
            {% include 'AppBundle:Includes:menu.html.twig' %}
        </div>
    </div>
      
    {% block realtyicons %}{% endblock %}
</div>

