<div class="map_home">
    <div class="map_description">
        <div class="map_txt">
            <p>Ленина, 134, офис&nbsp;3<br /> 
                +7 (3842) 78-99-54</p>

            <p>Кузнецкий, 34<br />
                +7 (3842) 78-58-78<br />
                +7 (964) 488-87-24</p>

            <p>Волгоградская, 15, офис&nbsp;207<br />
                +7 (978) 478-87-24</p>

            <p class="email_map"><a href="mailto:info@mail.ru">info@mail.ru</a></p>
        </div>
    </div>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad7e67db86c8e991339c0ef2041f4d3a6fba3eb44123aba80f4b99b98121d935e&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

        <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1BTnZN5UvTGmm0XfcVFvQ2lchkzg" width="100%" height="100%"></iframe> -->
    </div>
</div>