<div class="social">
    <a class="vk" href="" title="Страница Вконтакте" target="_blank"></a>
    <a class="fb" href="" title="Страница Faceboock" target="_blank"></a>
    <a class="inst" href="" title="Страница Instagtam" target="_blank"></a>
    <a class="twit" href="" title="Страница Twitter" target="_blank"></a>
    <a class="google" href="" title="Страница Google+" target="_blank"></a>
    <a class="odnk" href="" title="Страница Одноклассники" target="_blank"></a>
    <a class="youtube" href="" title="Страница Youtube" target="_blank"></a>
</div>